@model Laurids_Vestergaard.Models.BaseModels.Commercial
@{
    ViewBag.Title = "Erhverv";
}

@section AddToHead{
    @*<meta name="description=" content="Mit fokus ligger i at guide minde kunder bedst muligt, for det bedst mulige resultat" />*@
}

<div class="col-md-12">
    @Html.Raw(Model.Text)
</div>